#navbarNav {
    position: absolute;
    right: 10px;
  }
  
  .navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
  }
  
  .app-name {
    float: none;
    font-family: 'Orbitron';
    font-size: x-large;
  }
  
  @media screen and (max-width: 600px) {
    .navbar-header {
      display: none;
    }
  }
  