<footer class="footer bg-light" style="left: 0;bottom: 0; width: 100%;">
    <div class="container" style="padding: 20px 0px">
      <div class="row">
        <div class="col" style="text-align: center;">
          <a style="font-style: italic;" href="mailto:info@apisero.com">Contact Us</a>
        </div>
      </div>
  
      <div class="row">
        <div class="col" style="text-align: center; padding-top:15px;">
          <font style="font-style: italic; ">Version 1.0.0</font>
        </div>
      </div>
    </div>
  </footer>