<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<app-header></app-header>
<div class="d-flex flex-column" id="container" *ngIf="!submitSuccess&&!submitFailure">
    <div id="lol">
        Schedule Your Slot
    </div>
    <hr style="width: 20vw; border: 1px solid lightgray;">
    <div class="d-flex flex-row justify-content-sm-center input-outer-container">
        <div class="d-flex flex-column">
            <div class="inputHeader">Select the Date</div>
            <mat-form-field appearance="fill" class="inputcontainer" >
                <mat-label style="color: black;">Choose a date</mat-label>
                <input 
                    matInput [matDatepicker]="picker" 
                    [(ngModel)]="selectedDate" 
                    (dateChange)="dateSelected($event)" 
                    [min]="minDate" 
                    [max]="maxDate" 
                    disabled>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
              </mat-form-field>
            <!-- <div class="inputcontainer">
                <input type="date" style="border-radius: 5px; border-color: darkgray; color: black;" 
                    [min]="minDate" 
                    [max]="maxDate"   
                    [(ngModel)]="selectedDate" 
                    (change)="dateSelected($event)">
            </div> -->
        </div>
        <div style="width: 8vw;"></div>
        <div class="d-flex flex-column">
            <div class="inputHeader">Select the Slot</div>
            <div class="inputcontainer">
                <select class="form-control" [(ngModel)]="selectedTime" [disabled]="disabledController" placeholder="select">
                    <option value="select" *ngIf="!noSlots">--Select Slot--</option>
                    <option [value]="slot.startTime+slot.endTime" *ngFor="let slot of slots">{{slot.startTime}}-{{slot.endTime}}</option>
                    <option value="select" *ngIf="noSlots">No Slots Available</option>
                </select>
            </div>    
        </div>
    </div>
    <div class="d-flex justify-content-center" id="button-container" >
        <button class="btn btn-success" style="width: 10vw;" [disabled]="noSlots" (click)="confirm()">Confirm</button>
    </div>  
</div>
<div *ngIf="submitSuccess" class="statusContainer">
    <div class="alert alert-success" role="alert" style="margin-left: 2vw; margin-right: 2vw; text-align: center;">
        YOUR SLOT IS BOOKED
    </div>
    <div class="alert alert-light" role="alert" style="margin-left: 1vw;">
        DATE : {{displayDate}}
        <p>FROM : {{startTime}}</p>
        <p>TO : {{endTime}}</p>
    </div>
</div>
<div *ngIf="submitFailure" class="statusFailureContainer">
    <div class="alert alert-danger" role="alert" style="margin-left: 2vw; margin-right: 2vw; text-align: center;">
        {{failureMessage}}
    </div>
    <div class="d-flex flex-row justify-content-center">
        <button class="btn btn-primary" *ngIf="!alreadyBooked" (click)="backToSelect()">
            Select New Slot
        </button>
    </div>
</div>
<div id="footer">
    <app-footer></app-footer>
</div>
</body>
</html>