.inputHeader{
    background-color: #23aada;
    color: white;
    height: 5vh;
    font-size: 3vh;
    padding-top: 0.2vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    
}
.statusContainer{
    margin-left: 39vw;
    margin-right: 39vw;
    padding-top: 10vh;
    margin-top: 5vh;
    height: 60vh;
    color: #1d1b38;
    border: 3px double lightgray;
    border-radius: 10px;
}
.statusFailureContainer{
    margin-left: 39vw;
    margin-right: 39vw;
    padding-top: 10vh;
    margin-top: 10vh;
    /* margin-bottom: -10vh; */
    height: 40vh;
    color: #1d1b38;
    border: 3px double lightgray;
    border-radius: 10px;
}
#container{
    margin-left: 20vw;
    margin-right: 20vw;
    padding-top: 10vh;
    margin-top: 5vh;
    height: 60vh;
    color: #1d1b38;
    border: 3px double lightgray;
    border-radius: 10px;
}
.inputcontainer{
    background-color: #f8f9fa;
    text-align: center;
    padding: 2vh;
    border: 1px solid darkgray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 25vh;
    width: 18vw;
}
#button-container{
    margin-top: 5vh;
}
#footer{
    bottom: 0;
    position: fixed;
    width: 100%;
}
.input-outer-container{
    margin-top: 3vh;
}
#lol{
    font-family: 'Sora', sans-serif;
    font-size: 3.5vh;
    text-align: center;
    margin-top: -7vh;
    margin-bottom: -1vh;
}