<div class="container">
    <div class="row" id="logo">
      <img
        src="https://secureservercdn.net/198.71.233.227/azj.c88.myftpupload.com/wp-content/uploads/2020/02/Untitled-design-6-copy.png"
        width="150"
        height="60"
        class="d-inline-block align-top"
        alt="logo"
      />
    </div>
    <!-- <div class="row" id="title">
      <font>Smart Sales</font>
    </div> -->
    <div class="row" id="form">
      <form
        class="login-form"
        style="width: 75%;"
        [formGroup]="logInForm"
      >
        <div class="row">
          <div class="form-group">
            <label for="registrationId" style="font-weight: bold; text-align: center;">Enter Registration Number</label>
            <input type="text" class="form-control" formControlName="registrationId" id="registrationId" placeholder="2214216XXXX4">
          </div>
        </div>
        <div class="row" *ngIf="validRegNum">
          <div class="form-group">
            <label for="token" style="font-weight: bold;">Enter Token</label>
            <input type="password" class="form-control" formControlName="token" id="token" placeholder="59XXXXX1">
          </div>
        </div>
        <div class="row" *ngIf="validRegNum">
          <button mat-stroked-button class="btn-block" (click)="loginUser()">
            Submit
          </button>
        </div>
        <div class="row" *ngIf="!validRegNum">
          <button mat-stroked-button class="btn-block" (click)="generateToken()">
            Generate Token
          </button>
        </div>
      </form>
    </div>
    <div class="row" *ngIf="validRegNum">
      <font class="form-token-sent">Token sent to your registered email address!</font>
    </div>
    <div class="row" *ngIf="regNumberErr && !validRegNum">
      <font class="form-error">Registration Number is INCORRECT !</font>
    </div>
    <div class="row" *ngIf="tokenErr">
      <font class="form-error">Token is INCORRECT !</font>
    </div>
   
    <div class="row" style="justify-content: center; vertical-align: middle;" *ngIf="isLoading">
      <div class="loader"></div>
    </div>
  </div>
  <div class="background"></div>