.background{
    z-index: -1;
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container{
    border: 2px solid lightgray;
    border-radius: 15px;
    max-width: 376px;
    transform: translate(0vw, 30vh);
    background-color: #fff;
  }
  .row{
    padding: 10px 5px;
    justify-content: center;
  }
  .mat-form-field{
    width: 100%;
    font-size: small;
    line-height: 27px;
    padding: 10px 0px;
  }
  input{
    border-bottom: 1px solid lightgray;
  }
  button{
    display:block;
    border: none;
    outline:none;
    background-color: #1781c6;
    color: white;
    padding-top: 5px;
  }
  .form-error{
    color: red;
    font-size: smaller;
  }
  .form-token-sent{
    color: green;
    font-size: smaller;
  }
  .form-group{
    width: 100%;
  }
  .loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  