@import '~bootstrap/dist/css/bootstrap.css';

/* You can add global styles to this file, and also import other style files */
/* a { cursor: pointer; }

.app-container {
    min-height: 320px;
    overflow: hidden;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}

html, body { height: 100%; }

body { margin: 0; font-family: "Montserrat" !important; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat" !important;
}

.ng-select{
  height: 38px;
}
/* 
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: #1781c6;
  color: white;
  padding: 0px 5px;
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* 
.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: rgb(9, 9, 9);
  font-size: larger;
}


.ngx-mat-drp-date-input[_ngcontent-vvu-c105] {
  text-overflow: ellipsis;
  color: #4169e1;
  font-size: x-large;
}


.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {display: none}

.ngx-mat-drp-calendar-container {
  height: inherit;
}

.ng-trigger-transformPickerOverlay{
  height: inherit;
}

.ng-tns-c119-5{
  height: inherit;
}

#cdk-overlay-4{
  height: inherit;
} */ 